body {
  color: darkred;
  font-family: sans-serif;
  margin: 2em;
  padding: 1em;
  border: double darkred;
}

.customer-info {
  font-weight: bold;
}

.customer-data {
  color: black;
}
.loading {
  width: 50px;
  display: inline-block;
  background-color: red;
  color: white;
  border-radius: 5px;
  display: none;
  text-align: center;
}
